#image {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    background-color: #8e68ff;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 300px;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

img {
    width: 150px;
    margin: 10px;
    cursor: pointer;
}
